In [8]:
# Q1
l = ['Hello', [1,2,3], 4.5, (8,9,7)]
l

['Hello', [1, 2, 3], 4.5, (8, 9, 7)]

In [12]:
# Q2
var1 = '' #String
var2 = '[DS,ML,Python]'#String
var3 = ['DS','ML','Python'] #list
var4 = 1. #float

In [13]:
# Q3
# (i) Division operator
a = 45/3
a

15.0

In [14]:
# Q3
# (ii) Modulus operator : it returns the remainder
b = 25%3
b

1

In [15]:
# Q3
# (iii) Floor division operator: it divides 2 numbers and rounds the resultant value down to the nearest integer
c = 25//2
c

12

In [16]:
# Q3
# (iv) Power of operator: performs exponential calculation
d = 2**3 # 2*2*2
d

8

In [17]:
# Q4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
l = [12,'Hello', 25.6, True, (4,8,9), 3+6j, [45,54,25], {1,2,3}, False, 25]
for i in l:
    print(i, type(i))

12 <class 'int'>
Hello <class 'str'>
25.6 <class 'float'>
True <class 'bool'>
(4, 8, 9) <class 'tuple'>
(3+6j) <class 'complex'>
[45, 54, 25] <class 'list'>
{1, 2, 3} <class 'set'>
False <class 'bool'>
25 <class 'int'>

In [26]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

A = int(input('Enter first number '))
B = int(input('Enter second number '))
count = 0
while A%B == 0:
    A = A/B
    count += 1
if count>0:
    print('A is divisible by B and by', count, 'times')
else:
    print('A is not divisible by B')

Enter first number 65
Enter second number 5
A is divisible by B and by 1 times

In [25]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
l = list(range(25,50))
for i in l:
    if i%3 == 0:
        print(i, 'Divisible by 3')
    else:
        print(i, 'Not divisible by 3')

25 Not divisible by 3
26 Not divisible by 3
27 Divisible by 3
28 Not divisible by 3
29 Not divisible by 3
30 Divisible by 3
31 Not divisible by 3
32 Not divisible by 3
33 Divisible by 3
34 Not divisible by 3
35 Not divisible by 3
36 Divisible by 3
37 Not divisible by 3
38 Not divisible by 3
39 Divisible by 3
40 Not divisible by 3
41 Not divisible by 3
42 Divisible by 3
43 Not divisible by 3
44 Not divisible by 3
45 Divisible by 3
46 Not divisible by 3
47 Not divisible by 3
48 Divisible by 3
49 Not divisible by 3

 Q7. What do you understand about mutable and immutable data types? Give examples for both showing
 this property.

In mutable data types we can replace, add or remove its elements
eg : list, dictionary, sets
    
whereas in immutable data types we cannot perform the above operations
eg : int, string, tuples etc

In [27]:
l = [1,34, 45,87]
l.append(96)
l

[1, 34, 45, 87, 96]

In [29]:
s = 'Delhi'
s[0] = 'R'

TypeError: 'str' object does not support item assignment